@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik:300,400,900");

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    border: 2px solid black;
    padding: 30px;
}

.container {
    display: flex;
    flex: 1;
    font-family: 'Roboto Mono', monospace;
}

main {
    flex: 1;
    font-size: 24px;
    text-align: center;
    padding-right: 55px;
}

nav, aside {
    flex: 0 0 12em;
}

nav {
    order: -1;
}

header {
    text-align: center;
}

h1 {
    font-size: 88px;
    font-weight: 900;
    text-align: left;
    padding-left: 12%;
}

img {
    width: 15%;
    height: 15%;
}

.portfolioText {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 15px;
}

.introText {
    text-align: left;
    padding-left: 16px;
}


li{
  padding: 1em;
}

.portfolio {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    min-height: 25vh;
    flex-flow: row wrap;
    justify-content: space-around;
}

.portfolioProject {
      text-decoration: underline;
      padding-top: 15px;
      line-height: 150%;
}

.fa {
  font-size: 50px;
}
