.container{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 1200px;
  padding: 10px;
  margin: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section{
  background: #D3D3D3;
  flex-grow: 3;
}

.dynamiccontent{
  background: #A9A9A9;
  flex-grow: 1;
}

footer{
  background: grey;
  color: white;
  flex-grow: 4;
}

header{
  background: grey;
  text-align: center;
  flex-grow: 4;
}

h1{
  font-weight: lighter;
  text-transform: uppercase;
}

img{
   width:25%;
   height:25%;
}
