@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik:300,400,900");

.hg__header { grid-area: header; }
.hg__footer { grid-area: footer; }
.hg__main { grid-area: main; }
.hg__nav { grid-area: navigation; }
.hg__aside { grid-area: ads; }

.hg {
    display: grid;
    grid-template-areas: "header header header"
                         "navigation main ads"
                         "footer footer footer";
    grid-template-columns: 26em 1fr 26em;
    grid-template-rows: 500px;
                        1fr
                        30px;
    min-height: 100vh;
}

.headshot {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    margin-top: 2%;
    min-height: 250px;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 1%;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

header{
  margin-top: 5%;
}


.hg {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #F4F3F2;
    color:	#404040;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover {
    background-color: #404040;
    color: #F4F3F2;
}

.links{
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 2%;
}

p{
  font-size: 18px;
  line-height: 1.75;
  margin-top: 2em;
  margin-bottom: 3em;
}

.hg__main {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}
button{
  border-radius: 10px;
  border: 2px solid #808080;
  background-color: #F4F3F2;
  color: #404040;
  font-size: 16px;
}

.skillz{
  padding-top: 2%;
}

.fa {
    font-size: 50px;
}
.social{
  text-align: center;
  padding: 3%;
}

#portfolio {
    text-align: left;
    line-height: 1.5;
}

.portfolioProject {
  line-height: 2;
  padding: 1%;
}

section{
  line-height: 1.5;
  font-size: 16px;
  padding: 1%;
}

@media screen and (max-width: 600px) {
    .hg {
        grid-template-areas: "header"
                             "navigation"
                             "main"
                             "ads"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 300px /* Header */
                           50px /* Navigation */
                           1fr /* Main Content */
                           50px /* Ads */
                           30px; /* Footer */
    }
    .headshot{
      display:none;
    }
}

/*


#portfolio {

    height: 100vh;
}



.portfolioProjectLink {
    text-decoration: underline;
}





nav, aside {
    flex: 0 0 24em;
}

nav {
    order: -1;
}

.aside {
  padding: 2px;
}

footer {
  margin: 3%;
}







*/
