@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik:300,400,900|Roboto+Condensed:300|Lato|300");



h1{
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-size: 72px;
  font-weight: 100;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.read-more{
  text-decoration:none;

}

.name, p{
  color:grey;
}

.btn-primary{
  background-color:grey;
}

.about{
  font-family: 'Lato', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: normal;
}
.fa{
  color: black;
}

.social{
  padding-left: .5em;
}

ul{
  list-style:disc;
  padding-left:0;
}

li{
      margin: 1em;
}


.project-link{
  color: inherit;
  /* font-weight: bold; */
  text-decoration: underline;


}
